{% extends 'base.html' %}
{% load static %}
{% block title %} <title>wurgut.com</title> {% endblock %}
{% block content %}

  <div class="container">
    <div class="jumbotron text-center ">
      <h1 class="display-4 text-primary">Hotel app</h1>
      <p>{{request.user}}</p>
    </div>

    <div class="row">
      <div class="col mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Easy</h5>
            <p class="card-text">Easy to use</p>
          </div>
        </div>
        </div>
    </div>

    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Modern</h5>
            <p class="card-text">Upto date</p>
          </div>
        </div>
        </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Simple</h5>
            <p class="card-text">Created with <a class="nav-link" href="{% url 'admin:index' %}" style="text-decoration:none">love</a></p>
          </div>
        </div>
        </div>


      </div>

      
    </div> <!-- container row -->
    
  </div> <!-- container main -->
  
</div>
{% endblock %}